$cb_font_family : system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$cb_font_size : 13px;
$cb_small_font_size : 13px;
$cb_title_font_size : 13px;
$cb_muted_color : #666666;

#CB_COOKIE_POLICY {
  opacity: 0;
  &.loaded {
    opacity: 1;
  }
}

body { // Use to get an higher priority
  #CybotCookiebotDialog {
    border: 0;
    box-shadow: rgba(0, 0, 0, .15) 0 4px 24px, rgba(0, 0, 0, .05) 0 2px 6px;
    font-family: $cb_font_family;
    font-size: $cb_font_size;
  }

  #CybotCookiebotDialogBodyContentTitle {
    font-size: $cb_font_size;
    font-weight: 500;
    letter-spacing: -.3px;
  }

  #CybotCookiebotDialogBodyContentText {
    margin-top: 5px;
  }

  #CybotCookiebotDialogBodyContent div,
  #CybotCookiebotDialogBodyContent {
    font-family: $cb_font_family;
    font-size: $cb_font_size;
    color: $cb_muted_color;
  }

  #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelectionWrapper {
    float: none;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: flex !important;
    vertical-align: middle;
    margin-left: 8px;

    & > a {
      margin: 0;
      position: relative;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 14px;
      line-height: 14px;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

      &:hover:before {
        content: '';
        background-color: rgba(255,255,255, .1);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
      }

      &:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

    }
  }

  #CybotCookiebotDialogBodyLevelButtonsSelectPane {
    border-radius: .25rem 0 0 .25rem;
  }

  #CybotCookiebotDialogBodyLevelDetailsWrapper {
    border-radius: 0 .25rem .25rem 0;
  }

  .CybotCookiebotDialogDetailBodyContentCookieTypeIntro,
  #CybotCookiebotDialogDetailBodyContentTextAbout,
  .CybotCookiebotDialogDetailBodyContentCookieTypeTable thead th,
  .CybotCookiebotDialogDetailBodyContentCookieTypeTable tbody td,
  #CybotCookiebotDialogDetailBodyContent a {
    font-size: $cb_small_font_size;
  }

  .CybotCookiebotDialogDetailBodyContentCookieTypeIntro,
  #CybotCookiebotDialogDetailBodyContentTextAbout {
    color: $cb_muted_color;
  }

  #CybotCookiebotDialogDetailFooter {
    background-color: transparent;
    font-size: 11px;
    color: $cb_muted_color;
  }

  .CybotCookiebotDialogDetailBodyContentCookieTypeTable tbody td {
    border-bottom: 1px solid #cccccc;
  }

}